body {
    background-color: cornflowerblue;
}

#container {
    display: flex;
    align-items: center;
}

#instructions {
    display: flex;
    justify-content: baseline;
    margin-right: 20px;
    white-space: pre-wrap;
    font-size: 20px;
    color: white;
}

#grid-container {
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#color-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.grid {
    display: grid;
    grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr);
    border: 1px solid black;
    width: 500px;
    height: 500px;
    background-color: white;
}